<html><body>
<form action="/createcontact/" method="post">
    Enter your name:
    <input name="username" type="text">
    <br><br>
    Enter your password:
    <input name="password" type="text">
    <br><br>
    Enter your employer:
    <input name="employer" type="text">
    <br><br>
    <input type="submit" value="Submit">
</form>
</body></html>